<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :init %><br />
    <%= f.time_select :init %>
  </div>
  
  <div class="field">
    <%#= f.label :id_doctors %><br />
    <%#= f.text_field :id_doctors %>
  </div>
	<div>
   	Doctor
		
        <%= f.select(:doctor_id, :user_id,  Doctor.all.collect {|p| [ p.name] }, {:prompt => 'Select Doctor'})%>
	</div>
  <div class="field">
    <%#= f.label :id_user %><br />
    <%#= f.text_field :id_user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
