<%= form_for(@quote) do |f| %>
  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>

      <ul>
      <% @quote.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour_init %><br />
    <%= f.time_select :hour_init %>
  </div>
  <div class="field">
    <%= f.label :date_init %><br />
    <%= f.date_select :date_init %>
  </div>
  
	<div>
   	Doctor		
        <%= f.select(:doctor_id,  Doctor.all.collect {|p| [ p.name, p.id] }, {:prompt => 'Select Doctor'})%>
	</div>
  <div class="field">
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
