<p id="notice"><%= notice %></p>

<p>
  <b>hour_init:</b>
  <%= @quote.hour_init %>
</p>

<p>
  <b>hour_end:</b>
  <%= @quote.hour_end %>
</p>

<p>
  <b>date_init:</b>
  <%= @quote.date_init %>
</p>

<p>
  <b>date_end:</b>
  <%= @quote.date_end %>
</p>

<p>
  <b>State:</b>
  <%= @quote.state %>
</p>



<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
