<p id="notice"><%= notice %></p>

<p>
  <b>Hour init:</b>
  <%= @hour_init %>
</p>

<p>
  <b>Hour end:</b>
  <%= @hour_end %>
</p>

<p>
  <b>Date init:</b>
  <%= @quote.date_init %>
</p>

<p>
  <b>Date end:</b>
  <%= @quote.date_end %>
</p>

<p>
  <b>State:</b>
  <%= @quote.state %>
</p>


<% if current_user.role.eql?("Admin")%>
	<%= link_to 'Edit', edit_quote_path(@quote) %>
<% end%>
<% if current_user.role.eql?("Doctor")%>
	<%= link_to 'Edit', edit_quote_path(@quote) %>
<% end%>

<%= link_to 'Back', quotes_path %>
