<h1>List doctors</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>Address</th>
    <th>Password</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @doctors.each do |doctor| %>
<div class="hidden">
	<%= userName = User.find_by_id(doctor.doctor_id)%>
</div>
  <tr>
    <td><%#= doctor.name %></td>
    <td><%= doctor.doctor_id %></td>
	<td><%= userName.name %></td>
    <td><%#= doctor.address %></td>
    <td><%#= doctor.role %></td>
    <td><%#= link_to 'Show', doctor %></td>
	<% if current_user.role.eql?("Admin")%>
		<td><%= link_to 'Edit', edit_doctor_path(doctor) %></td>
	    <td><%= link_to 'Destroy', doctor, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end%>
	<% if current_user.role.eql?("Doctor")%>
		<td><%s= link_to 'Edit', edit_doctor_path(doctor) %></td>
		<td><%#= link_to 'Edit', edit_doctor_path(doctor) %></td>
	<% end%>
    
  </tr>
<% end %>
</table>

<br />
<% if current_user.role.eql?("Admin")%>
	<%= link_to 'New Doctor', new_doctor_path %>
<% end%>