<p id="notice"><%= notice %></p>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @doctor.mail %>
</p>

<p>
  <b>Address:</b>
  <%= @doctor.address %>
</p>


<p>
  <b>University:</b>
  <%= @doctor.university %>
</p>

<% if current_user.eql?("Admin")%>
	<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<% end%>
	<%= link_to 'Back', doctors_path %>
