<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @doctor.name %>
</p>

<p>
  <b>Mail:</b>
  <%= @doctor.mail %>
</p>

<p>
  <b>Address:</b>
  <%= @doctor.address %>
</p>

<p>
  <b>Password:</b>
  <%= @doctor.password %>
</p>

<p>
  <b>Role:</b>
  <%= @doctor.role %>
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>
