<%= form_for(@appointment) do |f| %>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<%= link_to('Doctor', doctors_path) %>
<%= link_to('Availabilities', availabilities_path) %>


  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :init %><br />
    <%= f.time_select :init %>
  </div>
  <div class="field">
    <%= f.hidden_field :user%>
  </div>
  
  
	<div>
   	Doctor
        <%= f.select(:doctor, Doctor.all.collect {|p| [ p.name] }, {:prompt => 'Select Doctor'})%>
	</div>
	<BR>
		
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
