<%= form_for(@availability) do |f| %>

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :hour_on %><br />
    <%= f.time_select :hour_on %>
  </div>
  <div class="field">
    <%= f.label :hour_end %><br />
    <%= f.time_select :hour_end %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </div>
  <div>
	<p>
	   <%= select("@doctor", "name", Doctor.all.collect {|p| [ p.name] }, {:include_blank => true})%>
	</p>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>

  


  <div class="field">
    <%= f.label :doctor %><br />
    <%= f.text_field :doctor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
