<%= form_for(@availability) do |f| %> 

<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>

  <% if @availability.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@availability.errors.count, "error") %> prohibited this availability from being saved:</h2>

      <ul>
      <% @availability.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :hour_on %>
  </div>
  <div class="field">
    <%= f.label :End_Time %><br />
    <%= f.time_select :hour_end %>
  </div>
  
  <div>
		Doctor
	
	   <%= select("@doctor", "name", Doctor.all.collect {|p| [ p.name] }, {:prompt => 'Select Doctor'})%>
  </div>
  <BR>
	
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
